@font-face {
    font-family: 'Century Gothic';
    src: url('century-gothic.ttf') format('truetype');
}
body {
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    background: #283583;
    color: #fff;
    padding: 15px;
}
main {
    flex: 1;
    padding: 10px;
}
footer {
    background: #283583;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    min-height: 60px;
}

.btn-green{
    margin: 10px;
    padding: 10px;
    background-color:#61a83f;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: large;
    min-width: 150px;
}
.btn-green:hover{
    opacity: 70%;
}