{% extends "./parent.html" %}
{% block style %}{% endblock %}
{% block title %} Homepage {% endblock %}
{% set page = "home" %}
{% block content %} 
<img  src="/public/static/academy_logo.png" style="top: 10px;right: 10px;" height="100" width="320" alt="">
    <h2>Welcome to Our Kainos Academy Project</h2>
<section id="team">
    <h3>Our Amazing Team</h3>
    <p>Our project was brought to life by a dedicated team of talented individuals:</p>
    <ul>
        <li>Alicja Ziębińska</li>
        <li>Dominik Suszek</li>
        <li>Jan Ostrowski</li>
        <li>Wojciech Mierzejewski</li>
    </ul>
</section>
<section id="academy">
    <h3>Kainos Academy Program</h3>
    <p>Our project was a part of the Kainos Academy Program, a platform where emerging talents meet opportunities.</p>
    <p>We completed the project in three intensive, one-week sprints, supported by our dedicated mentors:</p>
    <ul>
        <li>Maciej Ciszewski</li>
        <li>Łukasz Jercha</li>
    </ul>
    <p>During this program, we honed our skills, collaborated effectively, and delivered outstanding results.</p>
</section>
<section id="project">
    <h3>Our Journey</h3>
    <p>We set out on this project, not just to build a career lattice, but to showcase the power of teamwork and the Kainos Academy Program. Over the course of three one-week sprints, we navigated challenges, learned together, and grew as a team.</p>
    <p>This project is a testament to our commitment, innovation, and the incredible support of the Kainos Academy. While it may have started as a Career Lattice project, it evolved into a journey of exploration and growth for all of us.</p>
</section>
{% endblock %}

