{% extends "layouts/main.html" %} 
{% block pageTitle %} 
  List of Roles 
{% endblock %} 
 
{% block content %}

<h2>List of Roles</h2>

{% if errormessage %} 
    <div class="govuk-error-message" id="view-employees-error">{{ errormessage }}</div> 
{% endif %}

{% if roles and roles.length > 0 %} 
{% set rolerows = [] %} 
{% for roles in roles %}
{% set rolerows = (rolerows.push([{ text: role.name }, {text: role.description }, {text: role.link | safe}
                    ]), rolerows) %} 
{% endfor %} 
{{govukTable({ 
    head: [ { text: "Role Name" },{ text: "Description" },{ text: "Link" }], 
    rows: rolerows }) 
}} 
{% else %}
There are no roles. 
{% endif %}
{% endblock %}
