{% extends "parent.html" %}

{% block body %}
    <header class="bg-dark text-light">
        <div class="container">
            <div class="row"></div>
            <div class="col-md-12">
                <h1>{{ product.name }}</h1>
            </div>
        </div>
    </header>
    <main class="container mt-4">
        <section id="product" class="mt-4">
            {% if product %}
            <h2>Description</h2>
            {{ product.description }}
            <h2>Price</h2>
            {{ product.price }}
            {% else %}
            Could not find product.
            {% endif %}
        </section>
    </main>

{% endblock %}