{% extends "./parent.html" %}
{% block style %}{% endblock %}
{% block title %} Role Details {% endblock %}
{% block content %}
<section id="role" class="mt-1">
  {% if role %}
  <h1>{{role.name}}</h1>
  <div class="mb-2">
  <h7>{{role.description}}</h7>
  </div>
  <div class="mb-2">
    <p>Band: {{role.bandName}} ({{role.bandLevel}})</p>
  </div>
  <div class="mb-2">
    <p>Capability name: {{ role.capabilityName }}</p>
    <br>
  </div>
  <div class="mb-2" style="margin-bottom: 20px;">
    <a href="{{role.link}}" target="_blank" class="btn-green">Link to Job Profile</a>
    {% if admin === 'true' %}
    <td>
      <a href="/delete-job-role/{{ role.id }}" class="btn-orange">Delete</a>
    </td>
    {% endif %}
  </div>
  <br>
    <a href="/job-roles" class="btn-green">Back</a>
    {% else %} 
    No role details found. {% endif %}
</section>
{% endblock %}





