{% extends "./parent.html" %}
{% block style %}{% endblock %}
{% block title %} Role Details {% endblock %}
{% block content %}
<section id="role" class="mt-1">
  {% if role %}
  <h4>Role Name</h4>
  <h1>{{role.name}}</h1>
  <h4>Role Description</h4>
  <div class="mb-2">
  <h7>{{role.description}}</h7>
  </div>
  <div class="mb-3">
    <h4>Role Link</h4>
  </div>
  <div class="mb-2" style="margin-bottom: 20px;">
    <a href="{{role.link}}" target="_blank" class="btn btn-primary">Link to Job Profile</a>
    <td>
      <a href="/delete-job-role/{{ role.id }}" class="btn btn-danger">Delete</a>
    </td>
  </div>
  <br>
    <a href="/job-roles" class="btn-green">Back</a>
    {% else %} 
    No role details found. {% endif %}
</section>
{% endblock %}





